<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/icons.jpg"> Happy
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="add()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
      <button ion-button (click)="profile()">
        <img src="assets/imgs/profile.jpg" style="border-radius: 50%; height: 4.3vh; width: 4.3vh;">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <span>image</span>
    <ion-icon ios="ios-arrow-round-forward" md="md-arrow-forward"></ion-icon>
  </ion-row>

  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let slide of slider" alt="slide.title" style="border-radius: 10%;">
      <img src="{{slide.image}}" (click)="information(slide.page)">
      <ion-card-content>
        {{slide.title}}
      </ion-card-content>
      <ion-card *ngIf="value =='feedback'" style="width: 4.8em !important; ">
        <ion-row >
          <ion-col *ngFor="let smile of smiles">
            <img src="{{smile.images}}">
          </ion-col> 
        </ion-row>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" (click)="up()"></ion-icon>
        </ion-col>
        <ion-col class="ion-button full outline">
          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" (click)="down()"></ion-icon>
        </ion-col>
        <ion-col>
          <img src="assets/imgs/happy.png" (click)="happy()" style="width: 55%;">
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-scroll>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/happy.png">
      </ion-thumbnail>
      <h6>My Neighbor Totoro</h6>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <img src="" onmouserover="src=''" onmouseout="src=''"  onclick="src='assets/imgs/expression.jpg'"> -->