page-home {
    // title csss 
    .toolbar-title-ios{
        margin-left: -6em;
    }
    // Images
     img {
        max-width: 100%;
        border: 0;
        border-radius: 10%;
        height: 16px;
        width: 26px;
    }
    .button{
        border-radius: 50%;
    }

}
