<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/icons.jpg"> Happy
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="add()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
      <button ion-button (click)="profile()">
        <img src="assets/imgs/profile.jpg" style="border-radius: 50%; height: 4.3vh; width: 4.3vh;">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <a>image</a>
    <ion-icon ios="ios-arrow-round-forward" md="md-arrow-forward"></ion-icon>
  </ion-row>

  <ion-scroll scrollX="true" style="height:280px; width:100%;">
    <div class="inner">
      <ion-card *ngFor="let slide of slider">
        <img src="{{slide.image}}" style="height: 50%;">
      </ion-card>
    </div>
  </ion-scroll>
</ion-content>

<!-- <ion-navbar>
    <ion-slides >
      <ion-slide *ngFor="let slide of slider">
        <ion-card >
          <img src='{{slide.image}}'>
            <ion-card-content>
            <span>{{slide.title}}</span>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-navbar> -->