page-home {
    // title csss 
    .toolbar-title-ios{
        margin-left: -6em;
    }
    // Images
     img {
        max-width: 100%;
        border: 0;
        border-radius: 10%;
        height: 16px;
        width: 26px;
    }
    .button{
        border-radius: 50%;
    }

    .toolbar-title-md {
        padding: 0px 0px;
        font-size: 1.4rem;
        font-weight: 500;
        color: #424242;
    }
    // arrow color
    .ion-ios-arrow-round-forward:before {
        margin-left: 13em;
        color: red;
        font-size: 1em;
        cursor: pointer;
    }
    .ion-md-arrow-forward:before {
        margin-left: 13em;
        color: red;
        cursor: pointer;
    }
    // image name Color
    ion-app.ios [padding] {
        padding: 16px;
        color: green;
    }   
    // image color green
    a{
        color:green;    
    }
    // card image css
    .swiper-slide img{
        width: 80px;
        height:70px;
    }
    .inner{
        width:2000px;
        height: 100%;
    }
    .ionc-card{
        display: table-cell;
        border: solid 1px red;
    }
}
